secretflow==1.7.0b0
peft==0.11.1
transformers==4.35.2
accelerate>=0.21.0
datasets>=2.0.0
evaluate>=0.4.0
pybind11>=2.6.2
rouge-score>=0.0.4
sacrebleu>=1.5.0
scikit-learn>=0.24.1
torch>=1.8
prettytable==3.10.0
termplotlib==0.3.9
trl==0.9.6
bitsandbytes==0.35.4
sentencepiece==0.2.0
deepspeed==0.14.4
jsonlines
numexpr
sqlitedict
pytablewriter
tqdm-multiprocess
zstandard
